<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrUgXIBlIx3QjDWDzqGge8FlHTyGus3ag</string>
	<key>GCM_SENDER_ID</key>
	<string>451070999128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.uceva.appdigitalcoffee</string>
	<key>PROJECT_ID</key>
	<string>proyecto-de6af</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-de6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451070999128:ios:386ad044593e6d8fd7e82d</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto-de6af-default-rtdb.firebaseio.com</string>
</dict>
</plist>